backend:
  name: git-gateway
  repo: KarolGitHub/Portfolio-website

media_folder: static/images/uploads # Media files will be stored in the repo under images/uploads
public_folder: static/images/uploads

collections: # A list of collections the CMS should be able to edit
  - name: blog # Used in routes, ie.: /admin/collections/:slug/edit
    label: Blog # Used in the UI
    label_singular: Post # Used in the UI, ie: "New Post"
    description: >
      The description is a great place for tone setting, high level information, and editing
      guidelines that are specific to a collection.
    folder: 'src/content/blog/posts'
    extension: mdx
    format: frontmatter
    slug: '{{year}}-{{month}}-{{day}}-{{slug}}'
    summary: '{{title}} - {{year}}/{{month}}/{{day}}'
    create: true # Allow users to create new documents in this collection
    fields: # The fields each document in this collection have
      - { label: 'Type', name: 'type', widget: 'hidden', default: 'type' }
      - { label: Author, name: author, widget: string }
      - { label: Title, name: title, widget: string, tagname: 'h1' }
      - { label: Published, name: published, widget: boolean }
      - {
          label: 'Publish Date',
          name: date,
          widget: date,
          format: 'YYYY-MM-DD',
        }
      - {
          label: 'Image',
          name: 'image',
          widget: image,
          hint: 'Image size 1280x800 works best :)',
          required: false,
        }
      - {
          label: Body,
          name: body,
          widget: markdown,
          hint: 'Main content goes here.',
        }
      - { label: Excerpt, name: excerpt, required: false }
      - { label: Tags, name: tags, widget: list, required: false }
